main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/mobile/bg-image-daytime.jpg');
  background-size: cover;
  margin: 0 auto;
}

main::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.35);
}