.app-container {
  color: black;
}

/* Layout */

main {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  border: 2px dashed green;
  font-family: Inter;
}

.quote-container {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: baseline;
  border: 2px dashed green;
}

.quote {
  font-size: 12px;
  line-height: 22px;
}

.author {
  font-weight: bold;
}

.time-container {
  border: 2px dashed green;
}

.greeting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting-container h2 {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: normal;
  margin-left: 10px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.time h1 {
  margin: 0;
  margin-top: 0.2em;
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.time span {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

.location h2 {
  margin: 0;
}

.refresh-btn {
  margin-top: 5em;
}

