



body {
  margin: 0;
}


/* Layout */

.app-container {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 100%;
  font-family: Inter;
  color: white;
}

.bg-day {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/mobile/bg-image-daytime.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-night {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/mobile/bg-image-nighttime.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-container-toggle {
  align-items: end;
}

.quote-container {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: baseline;
  /* border: 2px dashed green; */
  max-width: 700px;
  padding: 2em;
}

.quote-container #refresh-svg {
  margin-left: 1em;
  cursor: pointer;
}


#refresh-svg:hover path {
  fill: lightgray
}

#refresh-svg path {
  transition: .3s linear;
}

.quote {
  font-size: 12px;
  line-height: 22px;
}

.author {
  font-weight: bold;
}

.time-container {
  /* border: 2px dashed green; */
  padding: 0 2em 2em;
}

.time {
  margin: 20px 0 20px 0;
}

.greeting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting-container h2 {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: normal;
  margin-left: 10px;
  text-transform: uppercase;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.time h1 {
  margin: 0;
  /* margin-top: 0.2em;
  margin-bottom: .2em; */
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.time span {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

.location h2 {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}


button:hover .arrow-svg circle {
  fill: #999999;
}

.arrow-svg {
  transform: scale(-1);
}

.arrow-svg-up {
  transform: scale(1);
}



#arrow-svg circle {
  transition: .3s linear;
}

.more-info-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2em;
  border: 0px white;
  padding: 4px 4px;
  margin-top: 5em;
  cursor: pointer;
}

.more-info-btn span {
  margin-right: 0.9em;
  margin-left: 1.5em;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.more-info {
  position: absolute;
  display: grid;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 40%;
  opacity: .95;
}

.more-info-day {
  color: #303030;
  background: rgb(247, 247, 247);
  backdrop-filter: blur(40.7742px);
}

.more-info-night {
  color: #ffff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(40.7742px);
}

.more-info-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.more-info-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em;
}

.more-info-details p, h4{
 margin: 0;
}

.more-info-details h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.more-info-details p {
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.more-info-details:nth-child(1) {
  order: 1;
}

.more-info-details:nth-child(2) {
  order: 3;
}

.more-info-details:nth-child(3) {
  order: 2;
}


.more-info-details:nth-child(4) {
  order: 4;
}


.error {
  color: red;
}

.hide {
  display: none;
}

.border {
  display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .time-container {
    margin-top: 5em;
  }

  .bg-day {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/tablet/bg-image-daytime.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bg-night {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/tablet/bg-image-nighttime.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .quote, .author {
    font-size: 18px;
    line-height: 28px;
  }

  .quote-container {
    padding: 4em;
  }

  .time-container {
    padding: 0 4em 3em;

  }

  .greeting-container h2, .location h2 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }

  .time h1 {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.375px;
  }

  .time span {
    font-size: 32px;
    line-height: 28px;
  }

  .more-info-btn {
    padding: 7px 7px;
  }

  .more-info-btn span {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 5px;
    margin-left: 0.7em;
    margin-right: .7em;
  }

  .more-info-container {
    margin: 0 0 0 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .more-info-details {
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 1em;
  }
  
  .more-info-details p, h4{
   margin: 0;
  }
  
  .more-info-details h4 {
    font-size: 40px;
    line-height: 48px;
  }
  
  .more-info-details p {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 2.6px;
  }

  .more-info-details:nth-child(1) {
    order: 1;
  }
  
  .more-info-details:nth-child(2) {
    order: 2;
  }
  
  .more-info-details:nth-child(3) {
    order: 3;
  }
  
  
  .more-info-details:nth-child(4) {
    order: 4;
  }

}


@media screen and (min-width: 1440px) {

  .app-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
  }

  .bg-day {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/desktop/bg-image-daytime.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bg-night {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("./assets/desktop/bg-image-nighttime.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .quote-container {
    margin-left: 10em;
    padding: 4em 0 0 0;

  }

  .time-container {
    padding: 0;
  }

  .quote, .author {
    font-size: 18px;
    line-height: 28px;
  }

  .greeting-container h2 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;
  }

  .location h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 4.8px; 
  }

  .time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1100px;
    margin-left: 10em;
    margin-bottom: 7em;
  }

  .time h1 {
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
  }

  .time span {
    font-size: 40px;
    line-height: 28px;
  }

  .more-info-btn {
    padding: 8px 8px;
  }

  .more-info-btn span {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 5px;
  }

  .more-info-container {
    position: relative;
    margin-left: 10em;
  }

  .more-info-details h4 {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
  }
  
  .more-info-details p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
  }

  .border {
    display: block;
    border-right: 1px solid;
    position: absolute;
    background: #303030;
    mix-blend-mode: normal;
    opacity: 0.25;
    top: 0;
    bottom: 0;
    left: 40em;
  }

  
  .more-info-details:nth-child(2) {
    margin-left: 3em;
  }  
  
  .more-info-details:nth-child(4) {
    margin-left: 3em;
  }

}